WebServer/node_modules
APIGateway/node_modules
Auth/node_modules
Auth/config.env
Branch/node_modules
Branch/config.env
Machine/node_modules
Machine/config.env
IOT/node_modules
Order/node_modules
Order/config.env
Notification/node_modules
Notification/config.env
Notification/washout-334d6-firebase-adminsdk-h65wc-138255580b.json
db_auth/*
db_branch/*
db_washing/*
