WebServer/node_modules
Branch/node_modules
Branch/config.env
Machine/node_modules
Machine/config.env
IOT/node_modules
Order/node_modules
Order/config.env
Notification/node_modules
Notification/config.env
Notification/washout-334d6-firebase-adminsdk-yhm6q-e717a71a6d.json
db_auth/*
db_branch/*
db_washing/*